header{
    background-color: #39642D;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabeçalho-imagem{
    width: 15%;
   
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 30px;
}

.dinheiro-imagem{
    width: 35%;
}

.corpo1{
    background-image: linear-gradient(#39642D,#87A922);
    color: white;
    display: flex;
}