header{
    background-color: #39642D;
    color: white;
    display: flex;
    justify-content: space-around;
}

.cabeçalho-imagem{
    width: 40%;
    display: inline-block;
    margin: 0 16px;
}

